.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.bio-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

body {
  background-color: #cfa6a3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #303030;
}
