body {
    background-color: #d1cd88;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #303030;
  }

.mp1-container {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
  }
  
  .picture {
    width: 600px;
    border-radius: 1px;
    object-fit: contain;
    aspect-ratio: 2;
  }